<div class="flex">
  <div class="w-1/4 hidden sm:block">
    <div class="left-column bg-cover bg-center relative" style="background-image: url('../assets/images/bg8.jpg'); height: 100vh;">
      <!-- <img class="bg-cover" src="../assets/images/bg3.jpg" alt="Image" > -->
    </div>
  </div>
  <div class="w-3/4 p-5">
    <div class="right-column">
      <h1 class="ml-4 mt-3 mb-4 text-4xl font-bold leading-none">Welcome to <div class="logo  inline-block">Eureka!</div></h1>
      <h3 class="ml-4 mb-5 text-xl font-regular leading-none">To get started, select a philosopher below to chat with</h3>
      <div class="flex flex-col sm:flex-row justify-between">
        <section hlmCard class="m-4 w-full sm:w-1/3 p-1 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <img src="../assets/images/hume.jpg" alt="Card 1 Image" class="w-full h-auto mb-4 rounded-sm">
            <h3 hlmCardTitle>David Hume</h3>
            <p hlmCardDescription>He believed that our experiences teach us the most, and he questioned ideas about metaphysical concepts. He challenged traditional views and left a lasting impact on the Enlightenment era and modern philosophy.</p>
          </div>
        </section>
        <section hlmCard class="m-4 w-full sm:w-1/3 p-1 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <img src="../assets/images/hypatia.jpg" alt="Card 2 Image" class="w-full h-auto mb-4 rounded-sm">
            <h3 hlmCardTitle>Hypatia</h3>
            <p hlmCardDescription>She was a mathematician and philosopher who loved exploring and teaching others about math, astronomy, and philosophy. Hypatia was one of the first known female scholars, and her passion for learning made her an important figure in ancient times.</p>
          </div>
        </section>
        <section hlmCard class="m-4 w-full sm:w-1/3 p-1 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <img src="../assets/images/socrates.jpg" alt="Card 3 Image" class="w-auto h-auto mb-4 rounded-sm">
            <h3 hlmCardTitle>Socrates</h3>
            <p hlmCardDescription>He was a highly influential philosopher who was best known for his method of questioning, called the Socratic method, which involved asking thought-provoking questions to encourage critical thinking and self-discovery.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
