<!-- 


<div class="flex col-1">
  <div class="w-1/4">
    <img src="../assets/images/bg.jpg" alt="Image" class="w-full h-auto">
  </div>
  <h3>Notifications</h3>
  <div class="m-10 w-3/4 flex-1 flex justify-between">
    <section hlmCard class="m-3 w-1/3 p-4">
      <div hlmCardHeader>
        <h3 hlmCardTitle>Notifications</h3>
        <p hlmCardDescription>You have 3 unread notifications</p>
      </div>
    </section>
    <section hlmCard class="m-3 w-1/3 p-4">
      <div hlmCardHeader>
        <h3 hlmCardTitle>Notifications</h3>
        <p hlmCardDescription>You have 3 unread notifications</p>
      </div>
    </section>
    <section hlmCard class="m-3 w-1/3 p-4">
      <div hlmCardHeader>
        <h3 hlmCardTitle>Notifications</h3>
        <p hlmCardDescription>You have 3 unread notifications</p>
      </div>
    </section>
  </div>
</div>
  <div class="mt-4 text-center">
    <button hlmBtn class="m-10">Hello World</button>
  </div>
 -->
<!-- app.component.html -->
<div class="flex">
  <div class="w-1/4">
    <div class="left-column">
      <img src="../assets/images/bg2.jpg" alt="Image" class="w-full h-auto">
    </div>
  </div>
  <div class="w-3/4 p-2">
    <div class="right-column">
      <h1 class="ml-4 mt-5 mb-4 text-4xl font-bold leading-none">Welcome to Eureka!</h1>
      <h3 class="ml-4 mb-5 text-xl font-regular leading-none">To get started, select a philosopher below to chat with</h3>
      <div class="flex flex-col sm:flex-row justify-between">
        <section hlmCard class="m-4 w-full sm:w-1/3 p-2 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <h3 hlmCardTitle>David Hume</h3>
            <p hlmCardDescription>He believed that our experiences teach us the most, and he questioned ideas about metaphysical concepts. He challenged traditional views and left a lasting impact on the Enlightenment era and modern philosophy.</p>
          </div>
        </section>
        <section hlmCard class="m-4 w-full sm:w-1/3 p-2 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <h3 hlmCardTitle>Hypatia</h3>
            <p hlmCardDescription>She was a mathematician and philosopher who loved exploring and teaching others about math, astronomy, and philosophy. Hypatia was one of the first known female scholars, and her passion for learning made her an important figure in ancient times.</p>
          </div>
        </section>
        <section hlmCard class="m-4 w-full sm:w-1/3 p-2 hover:bg-gray-100 transition duration-100 cursor-pointer">
          <div hlmCardHeader>
            <h3 hlmCardTitle>Socrates</h3>
            <p hlmCardDescription>He was a highly influential philosopher who was best known for his method of questioning, called the Socratic method, which involved asking thought-provoking questions to encourage critical thinking and self-discovery.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
